@charset "utf-8";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width:960px;
  width: 100%;
  padding:0 5px;
  margin: 0 auto;
}
.no-margin{
  margin: 0;
}
.no-pd{
  padding: 0;
}

.no-mp-r{
  padding-right: 0;
  margin-right: 0;
}
.no-mp-l{
  padding-left: 0;
  margin-left: 0;
}



// header-area=================>
.header-area{
  background: #F7F7F7;
  border-bottom: 1px solid #89883E;
  .logo-menu{
    padding: 0;
  }
  .logo-txt{
    position: relative;
  }
  h2{
    margin: 0;
    font-size: 16px;
    padding: 4% 10px;
    font-weight: 400;
    text-transform: uppercase;
    @media (min-width:320px){
      font-size:calc(16px + 14 *((100vw - 320px) / 900));
    }
  }
}

.span-color{
  color: #DF1F26;
}
// top-menu==================>
.top-menu{
  .top-menu-bag{
    list-style: none;
    display: inline-flex;
    margin: 0;
  }
  li{
  }
  a{
    background: #EEEEEE;
    color: #555555;
    font-size: 9px;
    padding: 25px 25px;
    border-right: 2px solid #ffffff;
    display: block;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
    @media (min-width:320px){
      font-size:calc(9px + 5 *((100vw - 320px) / 1800));
    }
  }
  .fbag{
    padding-left:15px;
  }
}
// end-header-to=====================================>

.nav_menu_area{
  background: #000;
  .main_nav{
    border: none;
  }
  li{
    padding: 15px 28px 15px 10px;
  }
  a{
    color:#fff;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;

  }
}
// nav-end===========================>
.banner-area{
  background: url(../img/bnnr.jpg)50% 50% / cover no-repeat;
  h2{
    margin: 0;
    font-size:34px;
    color: #fff;
    font-weight: 300;
    padding-top: 9%;
    padding-bottom: 9%;
    @media (min-width:320px) {
      font-size:calc(34px + 18 *((100vw - 320px) / 1300));
    }
  }
  .bnner_img{
    width: 70%;
    margin-bottom: -40px;
    position: relative;
    margin-left: 12%;
    &::after{
      content: "";
      background: linear-gradient(to top, #b3aeb057, #dad3d694 30%, #ffffff33 100%);
      width: 95%;
      height: 40px;
      left: 0;
      bottom: 0;
      position: absolute;
      border-radius: 0 0 100% 100% / 0 0 200% 200%; 
    }
    @media (min-width:767px){
      width: 100%;
      margin-left: -23px;
    }
  }
  .bnnr-img-2{
    position: absolute;
    top: 46%;
    right: -30px;
    max-width: 36%;
    z-index:2;
    @media (max-width:992px){
      position: absolute;
      top: 50%;
      right: 0px;
      max-width: 182px;
      width: 30%;
      z-index: 2;
    }
  }
  p{
    margin: 0;
    transform: translate(-8%, 0%);
    font-size: 10px;
    position: absolute;
    top: 25%;
    right: 7%;
    text-align: center;
    color: #fff;
    padding: 0px;
    line-height: 1.2;
    @media (min-width:320px){
      font-size: calc(10px + 21 *((100vw - 320px) /1800 ));
    }
  }

  .bnnr-r1{
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .bnnr-r2{
    width: 100%;
  }
}

// banner-end=============================>

// search-bar area======>
.search-bar-area{
  border-bottom:2px solid #fff;
  background:linear-gradient(90deg, #E1E6EA,#FADFE7);
  .p-div{
    padding-right: 3%;
  }
  h3{
    margin: 0;
    color: #FF1111;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 5px 0;
  }
  .product-search{
    padding: 10px 0;
    @media (max-width:767px){
      margin-top: 50px;
    }
  }
  .search-txt{
    height: 30px;
    width: 32%;
    background: #8080808a;
    border: none;
    padding: 0 5px;
  }
  .src-btn{
    border: none;
    background: #DF1F26;
    color: #ffffff;
    padding: 0.4% 7px;
    margin-left: -5px;
  }
  a{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    @media (max-width:767px){
      margin-top: -37px;
    }
    img{
      width: 100%;
    }
  }
}
input[type=checkbox]{
  cursor: pointer;
  z-index:1;
  opacity: 0;

}
input[type=checkbox],
.burger-line{
  position: absolute;
  top: 8px;
  right: 70px;
  width: 30px;
  height: 30px;
  @media (max-width:767px){
    top:-38px;
  }
}
.burger-line div{
  position: absolute;
  left: 0;
  top:42%;
  height:5px;
  background:#D52229;
  width: 30px;
}
.burger-line div::before,
.burger-line div::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #D52229;
}
.burger-line div::before{
  top:-10px;
}
.burger-line div::after{
  top:10px;
}
// search bar end==============


// product-imgcard-area==========>
.product-imgcard-area{
  background: #EEEEEE;
  padding-top: 10px;
  padding-bottom: 30px;
  .border_right{
    border-right: 1px solid #BEBEBE;
  }
  .ul-menu{
    list-style: none;
    margin: 0;
    background: #EEEEEE;
    h3{
      margin: 0;
      font-size: 14px;
      text-transform: uppercase;
      background: #DF1F26;
      padding: 15px 0 15px 20px;
      font-family: sans-serif;
      .product-heading{
        color:#EEEEEE;
      }
    }
    li{
      border-bottom: 2px solid #E0E0E0;
    }
  }
  .list_item{
    color: #333333;
    padding: 10px 0 10px 35px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 700;

    &::before{
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: #E8E681;
      display: block;
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-50%, -50%);
      @media (max-width:767px){
        left: 4%
      }
    }

    &::after{
      content: " ";
      width: 5px;
      height: 43px;
      position: absolute;
      background: transparent;
      right: 0px;
      top: 0;
      transition: 300ms;
    }

    &:hover{
      background: #fff;
    }

    &:hover::after {
      background:#DF1F26;
    }
  }
}

.delivering-world{
  padding: 30px 15px;
  .img-delivering{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    background: linear-gradient(#E5E5E5, #EEEEEE);
    position: relative;
    &::after{
      content: "";
      background: radial-gradient(#DBDBDB 10%, #E3E3E3 30%,#E9E9E9 60%);
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }
  h1{
    margin: 0;
    padding-top: 20px;
    font-size: 34px;
    font-family: sans-serif;
    color: #909191;
  }
  .h1-style{
    font-size: 30px;
    font-weight: bold;
    color: #909191;
  }
}


.from-twitter{
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  h3{
    margin: 0;
    font-size: 18px;
  }
  ul{
    margin: 0;
    list-style: none;
    li{
      margin: 0;
      padding-top: 20px;
      p{
        margin: 0;
      }
    }
  }
  .twi-logo{
    font-size: 25px;
    padding-right: 15px;
    color: #D8D8D8;
  }
  .twi-text{
    font-size: 13px;
  }
}

.our-clients{
  padding-top: 30px;
  padding-right: 15px;
  h3{
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .clients-msg{
    background: #F6F3F3;
    padding: 25px 10px 10px 20px;
    margin-top: 25px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      border-left: 20px solid #F6F3F3;
      border-bottom: 15px solid transparent;
      bottom: -15px;
      left:18%;
    }
    p{
      margin: 0;
      font-size: 13px;
    }
  }
}
.client-man{
  padding-top: 10px;
}
.client_about{
  padding-left: 20px;
  font-size: 13px;
  font-family: sans-serif;
  padding-top: 13px;
}
p{
  margin: 0;
}
// end-our clients area=======


.p-top{
  padding-top: 10px;
}
.img-card-div{
  background: #Fff;
  padding: 5px;
  p{
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    padding-bottom: 6px;
    border-bottom: 1px solid #EDEDED;
    color: #565555;
  }
  .img-card{
    width: 100%;
    padding-bottom: 5px;
  }
  .p-btm{
    padding-bottom: 0;
  }
  .card-2-txt{
    font-size: 15px;
    font-family: sans-serif;
    padding-right: 100px;
    border-right: 1px solid #EDEDED;
    font-weight: 600;
    color: #565555;
  }
  .price{
    border-right: 1px solid #EDEDED;
    padding: 0px 20px;
  }
  .ps{
    font-size:20px;
  }
  .btn-get{
    background: #DF1F26;
    padding: 0px 30px;
    margin-left: 9px;
    border-radius: 5px;
  }
  .left-get{
    margin-left: 20px;
  }
  a{
    color:#FFFFFF;
    text-decoration: none;
  }
}
.heading-popular{
  padding: 15px;
  h4{
    margin: 0;
  }
}
.last-rw-pb{
  padding-bottom: 30px;
}
// product-imgcard-area==========>


// info-area==============
.info-area{
  background: linear-gradient(90deg,#D3D5DA, #E8D1DB);
  .section-bnnr{
    width: 100%;
  }
  .about-follow-contact{
    padding-top: 60px;
    padding-bottom: 65px;
    @media (max-width:767px){
      padding-left: 15px;
    }
  }
  .heading-3{
    margin: 0;
    margin-top: -55px;
    font-size: 18px;
    font-weight:600;
    text-transform: uppercase;
  }

  .about-content {
    width: 90%;
    border-right: 2px solid #E9EAED;
    padding-top: 26px;

    @media (max-width:767px) {
      border: none;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 20px;
      border-bottom: 2px solid #E9EAED;
      
    }
  }
.follow-content{
  padding-top: 26px;
  @media (max-width:767px){
    padding-bottom:40px;
    padding-top: 80px;
  }
}
.info-content{
  padding-top: 26px;
  border-left: 2px solid #E9EAED;
  height: 160px;
  padding-left: 50px;
  @media (max-width:767px){
    border: none;
    padding-top: 80px;
    border-top: 2px solid #E9EAED;
    margin-left: -15px;
    padding-left: 0px;
    margin-right: 15px;
  }
}
  ///////////////////////////////

  .fashion-some-text{
    padding-top: 30px;
    max-width: 220px;
    padding-right: 5px;
    h2{
      font-size:30px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      font-weight: 300;
    }
    p{
      margin: 0;
      padding-top: 30px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
  }
  .follow{
  }
 ul{
  list-style: none;
  margin: 0;
  padding-top: 15px;
  .icon-facebook{
    color: #fff;
    background: #E70505;
    padding: 4px 8px;
  }
  li{
    padding-bottom: 5px;
  }
  .icon-twitter{
    color: #fff;
    background: #E70505;
    padding: 4px 5px;
  }
  .icon-google{
    color: #fff;
    background: #E70505;
    padding: 4px 3px;
    font-size: 15px;
  }
  .icon-instagram{
    color: #fff;
    background: #E70505;
    padding: 3px 6px;
  }
   a{
     color:#393939;
     font-weight: 500;
     padding-left: 10px;
   }
 }
 .info-text{
  padding-top: 20px;
  line-height: 1.7;
  p{
    color:#393939;
    font-weight:500;
    font-size: 14px;
    @media (max-width:767px){
      font-size: 11px;
    }
    a{
      color:#393939;
    }
  }
}

 .paddi-100{
   padding-left:100px;
 }
 .paddi-120{
   padding-left: 120px;
 }
 .paddi-40{
   padding-left:40px;
 }
}
// info area-end=======

// footer-area start==========
.footer-area{
  background: #2E2E2E;
  .footer_content{
    padding: 0;
  }
  .footer-menu{
    list-style: none;
    display: inline-flex;
    margin: 0;
  }
  li{
    &::after{
      content: ".";
      position: absolute;
      color: #fff;
      margin-left: -10px;
    }
    a{
      color: #c3c3c3;
      font-size: 12px;
      padding: 0;
      padding-right: 20px;
    }
  }
  li:last-child::after{
    content:'';
  }
  .footer-right-txt{
    margin: 0;
    font-size: 16px;
    color: #767474;
    padding: 17px 0;
    text-transform: uppercase;
    a{
      color:#767474;
      @media (min-width:320px){
        font-size: calc(10px + 2px);
      }
    }
  }
}
// footer-end=========>,,



























// amammamamamama=========================


// .banner {
//   background: url("../img/bnnr.jpg") 0 0 / cover no-repeat;
// }

// .heading {
//   font-size: 52px;
//   color: #fff;
//   padding-top: 96px;
//   // margin: 0 !important;
// }

// .image-block {

//    @media (min-width: 768px) {
//      margin-bottom: -40px;
//    }
// }

// .image-block img {
//   max-width: 100%;
//   height: auto;
//   vertical-align: top;
// }